@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
$green-grey: #bdd3c7;
$light-green: #67997c;
$green: #277045;
$dark-green: #0f2c1a;
* {
    font-family: 'Comfortaa';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    background-color: $green-grey;
}
header {
    display: flex;
    align-items: center;
}
.circle {
    background-color: $light-green;
    border-radius: 50%;
    padding: 10px;
}
.plant {
    width: 80px;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: auto;
    gap: 30px;
    margin-top: 30px;
}
h1 {
    color: $dark-green;
    font-size: 50px;
    cursor: pointer;
    padding: 40px;
}
.line {
    background-color: $dark-green;
    height: 3px;
    width: 100%;
}
.btnArt {
    width: 500px;
    padding: 20px;
    border: none;
    background-color: $light-green;
    border-radius: 20px;
    text-align: center;
    color: $dark-green;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid $dark-green;
    transition: 0.4s;
    &:hover {
        background-color: $green;
        color: $green-grey;
        transition: 0.4s;
    }
    &:active {
        scale: 0.95;
    }
}
.art {
    display: none;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px $dark-green;
    margin-bottom: 50px;
    scale: 1.1;
    background-color: $light-green;
    animation: slide 1s forwards;
    transition: 0.7s;
}
.colorBtnHover {
    background-color: $green;
    color: $green-grey;
    animation: puls 2s infinite;
}
@keyframes puls{
    0% {scale: 1;}
    50% {scale: 1.03;}
    100% {scale: 1;}
}
@keyframes slide {
    0% {
        scale: 0;
        opacity: 0;
    }
    100% {
        scale: 1.1;
        opacity: 1;
    }
}