@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
    font-family: 'Comfortaa';
    --orange: #fb8500;
    --yellow: #ffb703;
    --darkblue: #023047;
    --blue: #219ebc;
    --lightblue: #becae6;
}
body {
    display: grid;
    place-items: center;
    background-color: var(--blue);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: auto;
    gap: 30px;
    margin-top: 20px; 
}
h1 {
    color: var(--darkblue);
    font-size: 50px;
    cursor: pointer;
}
.line {
    background-color: var(--darkblue);
    height: 3px;
    width: 100%;
}
.btnArt {
    width: 500px;
    padding: 20px;
    border: none;
    background-color: var(--yellow);
    border-radius: 20px;
    text-align: center;
    color: var(--darkblue);
    font-size: 20px;
    cursor: pointer;
    border: 3px solid var(--darkblue);
}
.btnArt:hover {
    background-color: var(--orange);
}
.art {
    display: none;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px var(--darkblue);
    margin-bottom: 50px;
    scale: 1.1;
    background-color: var(--yellow);
    animation: slide 1s forwards;
}
.hover {
    background-color: var(--orange);
    animation: puls 1.5s infinite;
}
@keyframes puls{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.03;
    }
    100%{
        scale: 1;
    }
}
@keyframes slide {
    0% {
        /* transform: translateY(-100px); */
        scale: 0;
        opacity: 0;
    }
    100% {
        /* transform: translateY(0); */
        scale: 1.1;
        opacity: 1;
    }
}